[Unit]
Description=IBLUPS SRS Ingest Monitor
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash /opt/srs-ingest/srs-monitor.sh
# Requires changing path if placed elsewhere

[Install]
WantedBy=multi-user.target
