[Unit]
Description=IBLUPS SRS HLS Monitor
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/iblups-live/srs-hls/srs-monitor.sh
User=root

[Install]
WantedBy=multi-user.target
