[Unit]
Description=IBLUPS SRS Thumbnail Monitor
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/iblups-live/srs-thumbnail/srs-monitor.sh
User=root

[Install]
WantedBy=multi-user.target